<link rel="stylesheet" href="../components/Footer/footer.css">
<link rel="stylesheet" href="./components/Footer/footer.css">
<link rel="stylesheet" href="css/all.min.css">

<!-- This is FOOTER -->
<div class="Footer">
    <div class="column">
        <h4>Get in touch</h4>
        <a href="">About Us</a>
        <a href="">Blog</a>
        <p>Copyright © 2021 GeaRMIT.com</p>

    </div>
    <div class="column">
        <h4>Connections</h4>
        <a href="">Facebook</a>
        <a href="">Twitter</a>
        <a href="">Instagram</a>
        <a href="">Youtube</a>
        <a href="">Linkedln</a>
    </div>
    <div class="column">
        <h4>Menu</h4>
        <a href="">Mouses</a>
        <a href="">Mouse Pads</a>
        <a href="">Keyboards</a>
        <a href="">Microphone</a>
        <a href="">Headsets</a>
    </div>
    <div class="column">
        <h4>Account</h4>
        <a href="">Your account</a>
        <a href="">Chat with us </a>
        <a href="">Help</a>
    </div>
    <div class="map">
        <iframe class="embedded-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15680.254977096798!2d106.6930756!3d10.729567!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfae94aca5709003f!2sRMIT%20University%20Vietnam%2C%20Saigon%20South%20campus!5e0!3m2!1sen!2s!4v1619965996182!5m2!1sen!2s" allowfullscreen="" loading="lazy"></iframe>
    </div>

</div>