:root {
    --copyrightPaddingTop: 220px;
}

.Footer {
    /* position: relative; */
    /* border: 10px solid red; */
    width: auto;
    padding: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: start;
}

.footer-container {
    background-color: #FFFAFF;  
}

.Footer .column {
    /* margin: 0 50px; */
    min-width: 150px
}

.Footer .column h4 {
    font-size: 20px;
    font-weight: bold;
}

.Footer .column a {
    font-size: 16px;
    display: block;
    margin: 15px 0;
}

.embedded-map {
    width: 25vw;
    height: 25vh;
    border: 0;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}

#copyright {
    padding: 20px;
    text-align: center;
    font-size: 0.9em;

}

@media screen and (max-width: 900px) {
    .Footer {
        flex-wrap: wrap;

    }
    
    .embedded-map {
        margin-top: 20px;
        width: 70vw;
        height: 50vh;
    }


}