<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My part</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/header.css">
</head>

<body>
    <header>
        <div class="container">
            <!-- Start of header top -->
            <div class="header-top">
                <p class="phone-number">+420 336 775 664</p>
                <a href="" class="email">info@GWorld.com</a>
                <h2>GWorld</h2>
                <div class="icon">
                    <a href="" class="user-icon"><i class="far fa-user"></i></a>
                    <a href="" class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
            <!-- End of header top -->
        </div>

        <!-- Start of header mid -->
        <div class="header-mid">
            <div class="container">
                <!-- Dropdown menu -->
                <div class="dropdown">
                    <button class="drop-button">Category <i class="fas fa-chevron-down"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>

                <!-- Search bar -->
                <input type="text" name="search" id="" placeholder="Search Products, Category..."><i class="fas fa-search"></i>

                <!-- Contact us -->
                <a href="" class="contact-us">Contact Us</a>
            </div>
        </div>
        <!-- End of header mid -->
    </header>
</body>

</html>