<link rel="stylesheet" href="./components/Index/Categories/categories.css">

<div class="category-container">
    
    
    <div class="browse-category">
        <h2 class="section-title">Categories</h2>
        <ul>
            <li class="selected">Headsets</li>
            <li>Keyboards</li>
            <li>Mouse</li>
            <li>Mouse Pads</li>
            <li>Microphones</li>
        </ul>
        <a href="../front-end/pages/category.html"" target=" _blank" rel="noopener noreferrer"><button>Browse
                more</button></a>
        


    </div>

    

    <div class="product-detail">
        
        <div class="product-detail-background"></div>

        <!-- Burger button -->
        <div id="nav-icon3">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="product-detail-content">
            <div class="product-detail-list">

                <!-- Card 1 -->
                <div class="product-detail-card">
                    <img src="https://images.unsplash.com/photo-1496957961599-e35b69ef5d7c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fGhlYWRwaG9uZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                        alt="">
                    <div class="product-info">
                        <h1>Product title</h1>
                        <p>Space for a small product description</p>
                        <div class="product-grid">
                            <span>Category</span>
                            <span id="product-info-category">Headsets</span>
                            <span>Status</span>
                            <span id="product-info-status">Available</span>
                            <span>Color</span>
                            <span id="product-info-color">Black, Red, Blue</span>
                        </div>
                    </div>
                    <div class="price-and-shipping">
                        <h1>69.99 USD</h1>
                        <p>99.69 USD</p>
                        <p>Free Shipping</p>
                        <button>Add to Cart</button>
                        <button><i class="fas fa-info-circle"></i>
                            More detail</button>
                    </div>
                </div>


                <!-- Card 2 -->
                <div class="product-detail-card">
                    <img src="https://images.unsplash.com/photo-1560718217-69193acc0713?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1532&q=80"
                        alt="">
                    <div class="product-info">
                        <h1>Product title</h1>
                        <p>Space for a small product description</p>
                        <div class="product-grid">
                            <span>Category</span>
                            <span id="product-info-category">Headsets</span>
                            <span>Status</span>
                            <span id="product-info-status">Available</span>
                            <span>Color</span>
                            <span id="product-info-color">Black, Red, Blue</span>
                        </div>
                    </div>
                    <div class="price-and-shipping">
                        <h1>69.99 USD</h1>
                        <p>99.69 USD</p>
                        <p>Free Shipping</p>
                        <button>Add to Cart</button>
                        <button><i class="fas fa-info-circle"></i>
                            More detail</button>
                    </div>
                </div>


                <!-- Card 3 -->
                <div class="product-detail-card">
                    <img src="https://images.unsplash.com/photo-1546435770-a3e426bf472b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1946&q=80"
                        alt="">
                    <div class="product-info">
                        <h1>Product title</h1>
                        <p>Space for a small product description</p>
                        <div class="product-grid">
                            <span>Category</span>
                            <span id="product-info-category">Headsets</span>
                            <span>Status</span>
                            <span id="product-info-status">Available</span>
                            <span>Color</span>
                            <span id="product-info-color">Black, Red, Blue</span>
                        </div>
                    </div>
                    <div class="price-and-shipping">
                        <h1>69.99 USD</h1>
                        <p>99.69 USD</p>
                        <p>Free Shipping</p>
                        <button>Add to Cart</button>
                        <button><i class="fas fa-info-circle"></i>
                            More detail</button>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="product-detail-card">
                    <img src="https://images.unsplash.com/photo-1546435770-a3e426bf472b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1946&q=80"
                        alt="">
                    <div class="product-info">
                        <h1>Product title</h1>
                        <p>Space for a small product description</p>
                        <div class="product-grid">
                            <span>Category</span>
                            <span id="product-info-category">Headsets</span>
                            <span>Status</span>
                            <span id="product-info-status">Available</span>
                            <span>Color</span>
                            <span id="product-info-color">Black, Red, Blue</span>
                        </div>
                    </div>
                    <div class="price-and-shipping">
                        <h1>69.99 USD</h1>
                        <p>99.69 USD</p>
                        <p>Free Shipping</p>
                        <button>Add to Cart</button>
                        <button><i class="fas fa-info-circle"></i>
                            More detail</button>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="product-detail-card">
                    <img src="https://images.unsplash.com/photo-1546435770-a3e426bf472b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1946&q=80"
                        alt="">
                    <div class="product-info">
                        <h1>Product title</h1>
                        <p>Space for a small product description</p>
                        <div class="product-grid">
                            <span>Category</span>
                            <span id="product-info-category">Headsets</span>
                            <span>Status</span>
                            <span id="product-info-status">Available</span>
                            <span>Color</span>
                            <span id="product-info-color">Black, Red, Blue</span>
                        </div>
                    </div>
                    <div class="price-and-shipping">
                        <h1>69.99 USD</h1>
                        <p>99.69 USD</p>
                        <p>Free Shipping</p>
                        <button>Add to Cart</button>
                        <button><i class="fas fa-info-circle"></i>
                            More detail</button>
                    </div>
                </div>


                <!-- Card 3 -->
                <div class="product-detail-card">
                    <img src="https://images.unsplash.com/photo-1546435770-a3e426bf472b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1946&q=80"
                        alt="">
                    <div class="product-info">
                        <h1>Product title</h1>
                        <p>Space for a small product description</p>
                        <div class="product-grid">
                            <span>Category</span>
                            <span id="product-info-category">Headsets</span>
                            <span>Status</span>
                            <span id="product-info-status">Available</span>
                            <span>Color</span>
                            <span id="product-info-color">Black, Red, Blue</span>
                        </div>
                    </div>
                    <div class="price-and-shipping">
                        <h1>69.99 USD</h1>
                        <p>99.69 USD</p>
                        <p>Free Shipping</p>
                        <button>Add to Cart</button>
                        <button><i class="fas fa-info-circle"></i>
                            More detail</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- jQuery file is loaded after this file! -->
<!-- <script>
    $(function() {
        console.log("From categories");
    })
</script> -->