/* SECTION CONTAINER */
.category-container {
    position: relative;
    width: 100vw;
    /* height: 100vh; */
    height: 1257px;
    display: flex;
    flex-direction: row;
    /* border: 5px solid red; */
    /* align-items: center; */
    align-items: flex-start;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

/* --- LEFT SECTION --- */
.browse-category {
    background-color: var(--primary-darkest);
    color: #fffaff5b;
    /* width: 20%; */
    height: 100%;
    /* padding-bottom: 60%; */
    /* border: 5px solid purple; */
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    overflow: hidden;
    flex: 2;
}

.browse-category li {
    /* margin-left: -10%; */
    margin: 32px 0 32px -40px;
}

.browse-category li:hover {
    cursor: pointer;
}

.browse-category button {
    color: #C80808;
    font-size: 1em;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #C80808;
    padding: 1em 1.5em;
}

.browse-category .selected {
    font-size: 1.1em;
    color: #eb1616;
    font-weight: 700;
}


/* --- RIGHT SECTION --- */

.product-detail {
    /* width: 80%; */
    position: relative;
    height: 100%;
    /* border: 5px solid purple; */
    flex: 9;
}

.product-detail-background {
    display: absolute;
    /* border: 5px solid yellow; */
    width: 100%;
    height: 100%;
    /* height: 100%; */
    background: linear-gradient(0deg, rgba(34, 24, 28, 0.8), rgba(34, 24, 28, 0.8)), url('https://images.unsplash.com/photo-1511512578047-dfb367046420?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-detail-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
    /* border: 5px solid blue; */
    width: 100%;
    height: 100%;
}

.product-detail-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

 /* --- CARD --- */

.product-detail-card {
    width: 70%;
    height: 20%;
    /* max-height: 500px; */
    background-color: var(--white-base);
    border-radius: 10px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: row;
}

.product-detail-card img {
    width: 33%;
    height: 100%;
    border-radius: 8px;
}

.product-info {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
    /* border: 5px solid purple; */
}

.product-info h1 {
    color: #22181C;
    font-size: 25px;
    padding-bottom: 8px;
    font-size: 26px;

}

.product-info p {
    margin-bottom: 30px;
    color: #22181C, 80%;
}


.product-grid {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12.8px;
    color: #A9A9A9;
}

.product-grid span:nth-child(2n){
    grid-column: 2;
    margin-left: 54px;
    margin-bottom: 12px;
}

.price-and-shipping {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 20px;
    /* padding: 30px 10px; */
    /* margin: 10px; */
}

.price-and-shipping h1 {
    color: #22181C;
    font-size: 25px;
}

.price-and-shipping p:first-of-type {
    color: #A9A9A9;
    font-weight: 300;
    text-decoration: line-through;
    font-size: 12.8px;
}

.price-and-shipping p:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    color: #A9A9A9;
    padding: 25px 0;
}

.price-and-shipping button:nth-of-type(1) {
    color: #FFFAFF;
    font-weight: 700;
    font-size: 12.8px;
    padding: 10px 16px;
    background-color: #C80808;
    margin-bottom: 16px;
    width: fit-content;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.price-and-shipping button:nth-of-type(2) {
    /* width: 200px; */
    color: #151515;
    font-weight: 400;
    font-size: 12.8px;
    padding: 10px;
    background-color: var(--black-20);
}

