<link rel="stylesheet" href="./components/Index/Categories/categories.css">

<div class="category-container">
    <div class="browse-category">
        <h2 class="section-title">Categories</h2>
        <ul>
            <li class="selected">Headsets</li>
            <li>Keyboards</li>
            <li>Mouse</li>
            <li>Mouse Pads</li>
            <li>Microphones</li>
        </ul>
        <button>Browse more</button>

    </div>

    <div class="product-detail">
        <div class="product-detail-background"></div>
        <div class="product-detail-content">
            <!-- <h1 style="color: #fff">HAHAHA</h1> -->
            <div class="product-detail-list">
                <div class="product-detail-card">
                    <img src="https://images.unsplash.com/photo-1496957961599-e35b69ef5d7c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fGhlYWRwaG9uZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
                    <h1>Product title</h1>
                </div>

                <div class="product-detail-card">
                    <img src="https://images.unsplash.com/photo-1527283404347-aa637a44e935?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGhlYWRwaG9uZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
                    
                    <h1>Card 2</h1>
                </div>

                <div class="product-detail-card">
                    <h1>Card 3</h1>
                </div>
            </div>
        </div>

    </div>
</div>