/* Custom util styling to avoid conflicts */

/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  
  --font-small: 14px;
  --font-base: 16px;
  --font-200: 1.25rem;
  --font-300: 1.563rem;
  --font-400: 1.953rem;
  --font-500: 2.441rem;
  --heading: 3.052rem;

  
  --primary-base: #c80808;
  --primary-light: #f87060;
  --primary-dark: #5a0001;
  --primary-darkest: #140101;

  --black-base: #22181c;
  --black-80: rgba(34, 24, 28, 0.8);
  --black-50: rgba(34, 24, 28, 0.5);
  --black-20: rgba(34, 24, 28, 0.2);

  --white-base: #fffaff;
  --white-80: rgba(255, 250, 255, 0.8);
  --white-50: rgba(255, 250, 255, 0.5);
  --white-20: rgba(255, 250, 255, 0.2);
} */
/* html,
body {
  
  font-family: "Lato", sans-serif;
  color: var(--black-80); 
  background-color: #fff;
}
a {
  text-decoration: none;
  color: var(--primary-light);
}

ul li {
  list-style: none;
}

img {
  object-fit: cover;
}

.shadow-base {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}
.shadow-medium {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}
.shadow-large {
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

button {
  border: none;
  outline: none;
  border-radius: 8px;
  transition: 0.2s all ease-out;
}
.primary-cta--base,
.primary-cta--small,
.primary-cta--medium {
  background-color: var(--primary-base);
  color: var(--white-base);
  font-weight: bold;
}
.primary-cta--base {
  padding: 20px 1em;
  font-size: var(--font-200);
}
.primary-cta--medium {
  padding: 1rem 24px;
  font-size: var(--font-200);
}
.padding-cta--small {
  padding: 0.5rem 1rem;
  font-size: var(--font-small);
}

.section-title {
  color: var(--white-base);
  opacity: 80%;
  border-left: 5px solid #F87060;
  padding-left: 10px;
  margin: 3%;
}

.dark {
  color: var(--black-base);
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

button:active {
  transform: scale(1);
} */

.section-title {
  color: var(--white-base);
  opacity: 80%;
  border-left: 5px solid #f87060;
  padding-left: 10px;
  margin: 3%;
}

.dark {
  color: var(--black-base);
}

#main-cover {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(90, 0, 1, 0.5), rgba(90, 0, 1, 0.5)),
    url("../assets/login-background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
}

.main-content {
  margin-left: 55%;
  margin-top: 10%;
}

.main-content h1 {
  color: var(--white-base);
  text-transform: capitalize;
  font-size: 3rem;
  margin-top: 10%;
  line-height: 120%;
}

.main-content button {
  margin-top: 40px;
  font-size: 1.3rem;
}

/* Cover fade effect */
#main-cover::before {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  transform: translateY(180%);
  background-image: linear-gradient(to top, white, transparent);
  z-index: 1;
}

/* Scroll top button */

#btnScrollTop {
  display: inline-block;
  background-color: #ff9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 12px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}
#btnScrollTop::after {
  content: "⬆";
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#btnScrollTop:hover {
  cursor: pointer;
  background-color: #333;
}
#btnScrollTop:active {
  background-color: #555;
}
#btnScrollTop.show {
  opacity: 1;
  visibility: visible;
}
.best-seller-container {
  width: 100vw;
  position: relative;
  z-index: 10;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -300px;
}

.best-seller-product-card {
  background-color: var(--white-base);
  /* width: 22%; */
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  padding: 8px;
}

.best-seller-product-image {
  margin: 0 auto;
  width: 100%;
  height: 170px;
  /* object-fit: cover; */
  border-radius: 12px;
}

.best-seller-product-card .discount {
  position: absolute;
  margin: 10px;
  color: #aa1504;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 1em;
  background-color: #d0ccd0;
}

.best-seller-product-card .product-title {
  /* color: pink; */
  font-weight: 700;
  line-height: 150%;
  font-weight: bold;
  /* height: 100px; */
  margin: 20px 0 5px 0;
  font-size: 1.2em;
}

.best-seller-product-card .product-description {
  /* color: pink; */
  font-weight: 400;
  line-height: 150%;
  height: 90px;
  margin-bottom: 20px;
  font-size: 0.9em;
}

.small-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* border: 10px solid purple; */
  align-items: flex-start;
  justify-content: space-between;
}

.smaller-container .product-price {
  font-size: 1.5em;
  font-weight: 700;
}

.smaller-container .product-old-price {
  font-size: 0.8em;
  font-weight: 200;
  text-decoration: line-through;
}

.best-seller-product-card button {
  border: none;
  outline: none;
  border-radius: 8px;
  color: #fffaff;
  font-weight: bold;
  background-color: #c80808;
  padding: 12px;
  /* width: fit-content; */
}
.new-products-container {
  position: relative;
  display: block;
  padding-top: 20px;
  /* border: 10px solid rgb(122, 52, 122); */
}

.new-product-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: 10px solid red;
}

.new-product-card {
  width: 50vw;
  height: 540px;
  background: linear-gradient(0deg, rgba(90, 0, 1, 0.3), rgba(90, 0, 1, 0.3));
  /* opacity: 0.9; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-product-card:nth-child(1) {
  background: linear-gradient(0deg, rgba(90, 0, 1, 0.3), rgba(90, 0, 1, 0.3)),
    url("https://blog.logitech.com/wp-content/uploads/2019/08/Keyboard.jpeg");
  /* opacity: 0.9; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.new-product-card:nth-child(2) {
  background: linear-gradient(0deg, rgba(90, 0, 1, 0.3), rgba(90, 0, 1, 0.3)),
    url("https://assets2.razerzone.com/images/pnx.assets/c0034ad6db3fdb19746330967e408a71/razer-mamba-elite-usp02-mobile-gaming-mouse.jpg");
  /* opacity: 0.5; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.new-product-card h1 {
  color: var(--white-base);
  text-shadow: 1px 1px gray;
}

.new-product-card a {
  margin: 20px auto;
}
/* SECTION CONTAINER */

.category-container {
  position: relative;
  width: 100vw;
  /* height: 100vh; */
  height: 1257px;
  display: flex;
  flex-direction: row;
  /* border: 5px solid red; */
  /* align-items: center; */
  align-items: flex-start;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}

/* --- LEFT SECTION --- */

.browse-category {
  background-color: var(--primary-darkest);
  color: #fffaff5b;
  /* width: 20%; */
  height: 100%;
  /* padding-bottom: 60%; */
  /* border: 5px solid purple; */
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* overflow: hidden; */
  flex: 2;
}

.browse-category ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid red; */
  width: 130px;
  height: 25%;
  justify-content: space-evenly;
}

.browse-category li {
  /* margin-left: -10%; */
  /* margin: 32px 0 32px -40px; */
}

.browse-category li:hover {
  cursor: pointer;
}

.browse-category button {
  color: #c80808;
  font-size: 1em;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #c80808;
  padding: 1em 1.5em;
}

.browse-category .selected {
  font-size: 1.2em;
  color: #eb1616;
  font-weight: 700;
}

/* --- RIGHT SECTION --- */

.product-detail {
  /* width: 80%; */
  position: relative;
  height: 100%;
  /* border: 5px solid purple; */
  flex: 9;
}

.product-detail-background {
  display: absolute;
  /* border: 5px solid yellow; */
  width: 100%;
  height: 100%;
  /* height: 100%; */
  background: linear-gradient(
      0deg,
      rgba(34, 24, 28, 0.8),
      rgba(34, 24, 28, 0.8)
    ),
    url("https://images.unsplash.com/photo-1511512578047-dfb367046420?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.product-detail-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  /* border: 5px solid blue; */
  width: 100%;
  height: 100%;
}

.product-detail-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: scroll;
}

/* --- CARD --- */

.product-detail-card {
  width: 70%;
  height: 20%;
  /* max-height: 500px; */
  background-color: var(--white-base);
  border-radius: 10px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.product-detail-card img {
  width: 33%;
  height: 100%;
  border-radius: 8px;
}

.product-info {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 50px;
  /* border: 5px solid purple; */
}

.product-info h5 {
  color: var(--black-80);
  font-size: var(--font-200);
  padding-bottom: 8px;
}

.product-info p {
  margin-bottom: 30px;
  color: var(--black-80);
  font-size: var(--font-small);
}

.product-grid {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12.8px;
  color: #a9a9a9;
}

.product-grid span:nth-child(2n) {
  grid-column: 2;
  margin-left: 54px;
  margin-bottom: 12px;
}

.price-and-shipping {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 20px;
  /* padding: 30px 10px; */
  /* margin: 10px; */
}

.price-and-shipping h1 {
  color: #22181c;
  font-size: 25px;
}

.price-and-shipping p:first-of-type {
  color: #a9a9a9;
  font-weight: 300;
  text-decoration: line-through;
  font-size: 12.8px;
}

.price-and-shipping p:nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  color: #a9a9a9;
  padding: 25px 0;
}

.price-and-shipping button:nth-of-type(1) {
  color: #fffaff;
  font-weight: 700;
  font-size: 12.8px;
  padding: 10px 16px;
  background-color: #c80808;
  margin-bottom: 16px;
  width: fit-content;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

.price-and-shipping button:nth-of-type(2) {
  /* width: 200px; */
  color: #151515;
  font-weight: 400;
  font-size: 12.8px;
  padding: 10px;
  background-color: var(--black-20);
}

/* BURGER BUTTON */

#nav-icon3 {
  display: none;
  width: 40px;
  height: 45px;
  position: absolute;
  /* margin: 50px auto; */
  top: 20px;
  left: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 100;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 25px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu-open {
  display: block;
  position: absolute;
  border: 10px solid red;
}

/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
  .browse-category {
    /* padding: 80px 30px; */
    font-size: 80%;
    display: none;
  }
  .browse-category li {
    position: relative;
    left: 20px;
  }
  .browse-category button {
    margin: 0 auto;
    left: 10px;
  }
  #nav-icon3 {
    /* position: absolute; */
    display: block;
  }
  .menu-open {
    display: block;
  }
  .product-detail-card {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  .product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    /* border: 5px solid purple; */
  }
  .product-detail-card img {
    width: 100%;
    height: 180px;
  }
  .product-info h1 {
    color: #22181c;
    font-size: 25px;
    padding-bottom: 8px;
    font-size: 26px;
  }
  .product-info p {
    margin-bottom: 30px;
    color: #22181c, 80%;
    text-align: center;
  }
  .product-grid {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12.8px;
    color: #a9a9a9;
  }
  .product-grid span:nth-child(2n) {
    grid-column: 2;
    margin-left: 54px;
    margin-bottom: 12px;
  }
  .price-and-shipping {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
  }
  .price-and-shipping h1 {
    color: #22181c;
    font-size: 25px;
    /* flex: 1; */
    width: 100%;
    text-align: center;
  }
  .price-and-shipping p:first-of-type {
    color: #a9a9a9;
    font-weight: 300;
    text-decoration: line-through;
    font-size: 12.8px;
    width: 100%;
    display: block;
    text-align: center;
  }
  .price-and-shipping p:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    color: #a9a9a9;
    padding: 25px 0;
    width: 100%;
    /* display: block; */
    margin: 0 auto;
    text-align: center;
  }
  .price-and-shipping button:nth-of-type(1) {
    color: #fffaff;
    font-weight: 700;
    font-size: 12.8px;
    padding: 10px 16px;
    background-color: #c80808;
    margin-bottom: 16px;
    width: fit-content;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06),
      0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    margin: 10px auto;
    width: 70%;
    display: block;
  }
  .price-and-shipping button:nth-of-type(2) {
    /* width: 200px; */
    color: #151515;
    font-weight: 400;
    font-size: 12.8px;
    padding: 10px;
    background-color: var(--black-20);
    margin: 0 auto;
    width: 70%;
    display: block;
  }
}
@media screen and (max-width: 700px) {
  .new-product-section {
    flex-direction: column;
  }

  .new-product-card {
    width: 100vw;
    height: 40vh;
  }
}
@media screen and (max-width: 600px) {
  #btnScrollTop {
    width: 30px;
    height: 30px;
    bottom: 20px;
    right: 20px;
  }

  #btnScrollTop::after {
    font-size: 1em;
    line-height: 30px;
  }
}
