@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*--------------TYPOGRAPHY ------------------*/
  --font-small: 14px;
  --font-base: 16px;
  --font-200: 1.25rem;
  --font-300: 1.563rem;
  --font-400: 1.953rem;
  --font-500: 2.441rem;
  --heading: 3.052rem;

  /*--------------COLORS ------------------*/
  --primary-base: #c80808;
  --primary-light: #f87060;
  --primary-dark: #5a0001;
  --primary-darkest: #140101;

  --black-base: #22181c;
  --black-80: rgba(34, 24, 28, 0.8);
  --black-50: rgba(34, 24, 28, 0.5);
  --black-20: rgba(34, 24, 28, 0.2);

  --white-base: #fffaff;
  --white-80: rgba(255, 250, 255, 0.8);
  --white-50: rgba(255, 250, 255, 0.5);
  --white-20: rgba(255, 250, 255, 0.2);

  --copyrightPaddingTop: 220px;
}
html,
body {
  width: 100vw;
  font-size: var(--font-base);
  font-family: "Lato", sans-serif;
  color: var(--black-80); /*Default text color*/
  background-color: #fff;
}
a {
  text-decoration: none;
  color: var(--primary-light);
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.shadow-base {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}
.shadow-medium {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}
.shadow-large {
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}
button {
  border: none;
  outline: none;
}

.primary-cta--base,
.primary-cta--small,
.primary-cta--medium {
  border-radius: 8px;
  background-color: var(--primary-base);
  color: var(--white-base);
  font-weight: bold;
  transition: 0.2s all ease-out;
}
.primary-cta--base {
  padding: 20px 2rem;
  font-size: var(--font-400);
}
.primary-cta--medium {
  padding: 1rem 24px;
  font-size: var(--font-200);
}
.primary-cta--small {
  padding: 0.5rem 1rem;
  font-size: var(--font-small);
}

.primary-cta--base:hover,
.primary-cta--medium:hover,
.primary-cta--small:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.primary-cta--base:active,
.primary-cta--medium:active,
.primary-cta--small:active {
  transform: scale(1);
}

/* -------------- HEADER SECTION ---------------*/
/* Header top */
header .header-top-container {
  width: 97%;
  margin: 0 auto;
}

.header-top {
  display: flex;
  width: 100%;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3%;
}

.left-header-top {
  flex: 1;
  flex-wrap: wrap;
}

.left-header-top a {
  margin: 0 15px;
  color: var(--black-base);
  text-decoration: none;
}

.left-header-top > a:hover,
.header-top .icon *:hover {
  color: var(--primary-base);
}

.header-top .email {
  text-decoration: none;
  color: black;
}

.header-top .phone-number,
h2 {
  padding: 0;
  margin: 0;
}

.header-top h1 {
  font-family: "Lato", serif;
  font-weight: 700;
  font-size: 2em;
  color: var(--black-base);
  text-align: center;
}

.header-top .icon {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.header-top .icon a {
  margin: 0 5%;
  font-size: 1em;
}

.header-top i {
  color: black;
}

.header-top img {
  width: 50px;
}

/* End of header top */

/* Header mid */
.header-mid {
  background-color: black;
  color: white;
  padding: 20px 3%;
  /* width: 97%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* border: 10px solid red; */
}

.header-mid .drop-button {
  border: none;
  background-color: black;
  color: white;
  font-family: "Lato", serif;
  font-weight: 400;
  font-size: 1em;
}

.header-mid .dropdown {
  position: relative;
  display: inline-block;
}

.header-mid .dropdown-content {
  display: none;
  position: absolute;
  background-color: #262525;
  min-width: 100px;
  z-index: 2; /* to display in front of other elements */
}

.header-mid .dropdown-content a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.header-mid .dropdown-content a:hover {
  background-color: rgb(228, 27, 27);
}

.header-mid .dropdown:hover .dropdown-content {
  display: block;
}

.header-mid .dropdown:hover .drop-button i {
  color: red;
}

/* Search bar */

.header-mid .search-bar {
  position: relative;
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-mid input {
  padding: 10px 0;
  width: 70%;
  border-radius: 2em;
  text-indent: 20px;
  outline: none;
  border: 0;
}

.header-mid .search-bar i {
  position: relative;
  color: #262525;
  right: 40px;
  z-index: 2;
  opacity: 60%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.header-mid .search-bar i:hover,
.header-mid .search-bar i:focus {
  opacity: 100%;
}

.header-mid input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(245, 126, 126);
  transition: 200ms ease-in-out;
}

.header-mid .contact-us {
  text-decoration: none;
  color: rgb(218, 142, 142);
  /* margin-left: auto; */
  order: 2;
  transition: all ease 0.2s;
}

.header-mid .contact-us:hover {
  color: rgb(228, 48, 48);
}

/* -------------- FOOTER SECTION ---------------*/
.Footer {
  /* position: relative; */
  /* border: 10px solid red; */
  width: auto;
  padding: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: start;
}

.footer-container {
  background-color: #fffaff;
}

.Footer .column {
  /* margin: 0 50px; */
  min-width: 150px;
}

.Footer .column h4 {
  font-size: 20px;
  font-weight: bold;
}

.Footer .column a {
  font-size: 16px;
  display: block;
  margin: 15px 0;
}

.embedded-map {
  width: 25vw;
  height: 25vh;
  border: 0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}

#copyright {
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
}

/* MEDIA QUERIES */
/* FOR MOBILE'S L SCREENSIZE */

@media screen and (max-width: 425px) {
  .left-header-top {
    font-size: 0.7em;
    line-height: 20px;
    /* color: red; */
  }

  .header-top h1,
  .icon {
    /* font-size: 1.5em; */
    transform: scale(0.8);
  }

  .header-mid .drop-button {
    display: none;
    /* visibility: hidden; */
  }

  .header-mid .drop-button::after {
    content: "a";
    visibility: visible;
  }

  .header-mid .contact-us {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .Footer {
    flex-wrap: wrap;
  }

  .embedded-map {
    margin-top: 20px;
    width: 70vw;
    height: 50vh;
  }
}
