/* ---------------------------------- Global -------------------------------- */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.left {
    width: 10%;
    height: 100vh;
    background-color: #FFFAFF;
}

.right {
    width: 90%;   
}


/* ------------------------------------ Left -------------------------------- */
.left .avatar-container {
    text-align: center;
    margin-top: 32px;
}

.left .avatar-container img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.left .avatar-container .name {
    margin-top: 8px;
    margin-bottom: 72px;
    font-size: var(--font-base);
    font-weight: bold;    
    color: #C80808;
}

.left .choice-container span {
    font-size: var(--font-small);
    font-weight: bold;
    color: #22181C;
}

.left .choice-container i {
    margin: 0 10px;
}

.left .choice {
    display: flex;
    padding: 16px 0;
    cursor: pointer;
}

.left .active-nav {
    background-color: rgba(248, 112, 96, 0.1);
    border-left: 4px solid #F87060;
    color: #f24e3c;
}

.left .choice:hover {
    background-color: rgba(248, 112, 96, 0.1);
    border-left: 4px solid #F87060;
}
/* ------------------------------------ Right -------------------------------- */
.right .main-content {
    display: none;
    width: inherit;
    min-height: 80vh;
    margin: 72px 48px;
    padding: 40px;
    background-color: #FFFAFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
}

.right .main-content h2 {
    font-size: var(--heading);
    font-weight: bold;
    color: #5A0001;
}

.right .top-container {
    align-items: center;
}

.right .searchbar-container {
    margin-left: auto;
    justify-self: flex-end;
}

.right .searchbar-container i {
    cursor: pointer;
    position: relative;
    z-index: 1;
    right: 30px;
}

.right .searchbar-container input {
    width: 40vw;
    padding: 10px 0;
    text-indent: 20px;
    border-radius: 20px;
}

.right .searchbar-container input:focus {
    outline: none;
    box-shadow: 0 0 0 3px palevioletred;
    transition: 200ms all ease-in-out;
}

.right .searchbar-container button {
    float: right;
    margin-right: 20px;
    margin-top: 51px;
}

.right table {
    margin-top: 86px;
    border-collapse: collapse;
}

.right tr th {
    font-size: var(--font-200);
    font-weight: bold;
    color: #22181C;
}

td {
    padding-top: 12px;
    font-size: var(--font-base);
    color: black;
}

td:nth-child(1) {
    font-size: var(--font-base);
    font-weight: bold;
    color: black;
}

th:nth-child(1), th:nth-child(2), th:nth-child(3), th:nth-child(4){
    padding-right: 120px;
    padding-bottom: 8px;
    white-space: nowrap;
}

th:nth-child(2) {
    word-wrap: break-word;
}

.table-header {
    border-bottom: 1px solid rgba(34, 24, 28, 0.2);
}

#active-section {
    display: block;
}

/* ------------------------------------------ For modal box ------------------------------------- */
.modal-container {
    /* Hide at default */
    display: none;

    /* Styling */
    width: 100vw;
    height: 100vh;
    padding: 162px 300px;
    background-color: var(--black-80);

    /* Positioning */
    position: absolute;
    z-index: 2;
}

.modal-content-container {
    /* border: 3px solid red; */
    border-radius: 8px;
    background-color: var(--white-base);
    height: 70vh;
}

.modal-content-container .top {
    font-size: var(--font-500);
    font-weight: bold;
    color: var(--black-80);
    padding-top: 80px;
    margin-left: 40px;
}

.modal-content-container .exit {
    float: right;
    color: black;
    margin-top: 28px;
    margin-right: 28px;
    cursor: pointer;
}

/* For the search bar */
.modal-content-container .searchbar-container {
    text-align: center;
    margin-top: 66px;
}

.modal-content-container .searchbar-container i {
    cursor: pointer;
    position: relative;
    z-index: 1;
    right: 30px;
}

.modal-content-container .searchbar-container input {
    width: 500px;
    padding: 10px 0;
    text-indent: 20px;
    border-radius: 20px;
}

.modal-content-container .searchbar-container input:focus {
    outline: none;
    box-shadow: 0 0 0 3px red;
    transition: 200ms all ease-in-out;
}

.modal-content-container .result-container {
    text-align: center;
    margin-top: 48px;
}

.modal-content-container .result-container a:hover {
    text-decoration: underline;
}

.modal-content-container .button-container {
    text-align: center;
    margin-top: 24px;
}