/* --------------------------------------- Global ---------------------------------------- */
/* header, footer {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    font-size: 30px;
} */

.container {
  margin: 0 72px;
  display: flex;
}

.left {
  width: 30%;
  margin-right: 79px;
}

.right {
  width: 70%;
}

.flex {
  display: flex;
}
/* --------------------------------------- Left ---------------------------------------- */

/* Bread crumb */
.left .bread-crumb {
  display: flex;
  font-size: var(--font-base);
  margin-bottom: 24px;
  margin-top: 32px;
}

.left .bread-crumb span {
  margin: 0 11px;
}

.left h2 {
  padding-left: 8px;
  border-left: 5px solid #f87060;
  margin-bottom: 24px;
}

.left .choice i {
  margin-right: 10px;
  cursor: pointer;
}

.left .choice label {
  margin-right: 22px;
  cursor: pointer;
}

.left .choice i,
.choice label {
  color: rgba(34, 24, 28, 0.5);
}

.left .second-op,
.third-op,
.fourth-op,
.op {
  margin-top: 17px;
}

.left .price-range,
.color {
  margin-top: 56px;
}

.left .price-range .slider-container input {
  margin-top: 21px;
  width: 100%;
}

.left .input-container {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.left .input-container p {
  color: black;
  font-size: var(--font-700);
  margin-bottom: 8px;
}

.left .input-container input {
  border-radius: 8px;
  border: 1px solid rgba(34, 24, 28, 0.2);
  height: 43px;
  text-indent: 20px;
}

.left .button-container {
  display: flex;
  align-items: baseline;
  margin-top: 16px;
}

.left .button-container button {
  width: 60%;
  font-size: var(--font-small);
  font-weight: bold;
}

.left .button-container p {
  margin-left: 16px;
  font-size: var(--font-small);
  font-weight: bold;
  color: rgba(34, 24, 28, 0.5);
  cursor: pointer;
}

.left .button-container p:hover {
  color: #c80808;
}

.left .color .second-choice {
  margin: 17px 0;
}

.left .apply-button {
  margin-top: 56px;
}

/* Active style for choices */
.choice.brand-active i,
.choice.brand-active label {
  transition: all 0.2s ease-in-out;
  color: var(--primary-light);
  font-weight: bold;
}

.choice.price-active i,
.choice.price-active label {
  transition: all 0.2s ease-in-out;
  color: var(--primary-light);
  font-weight: bold;
}

.choice.color-active i,
.choice.color-active label {
  transition: all 0.2s ease-in-out;
  color: var(--primary-light);
  font-weight: bold;
}

/* For the input slider */
#slider-range {
  margin-top: 16px;
}

.ui-slider {
  background-color: rgba(34, 24, 28, 0.2);
}

.ui-slider-range {
  background-color: #f87060;
}

.ui-slider-handle {
  border-radius: 20px;
}

/* End of input slider */

/* --------------------------------------- Right ---------------------------------------- */
.right .result-text-container {
  display: flex;
  font-size: var(--font-500);
  font-weight: bold;
  color: black;
  margin-bottom: 56px;
  margin-top: 80px;
}

.right .result-text-container span {
  color: #c80808;
}

.right .grid-container .row-container {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 40px;
  gap: 2rem;
}

.right .product-container {
  width: calc((100% - 4rem) / 3);
  border-radius: 12px;
  background-color: #fffaff;
}

.right .product-container .content-container {
  margin-top: 8px;
  margin-left: 8px;
  margin: 8px;
}

.right .product-container .content-container .discount-noti {
  position: absolute;
  z-index: 1;
  background: rgba(255, 250, 255, 0.8);
  border-radius: 12px;
  margin-top: 12px;
  margin-left: 12px;
}

.right .product-container .content-container .discount-noti p {
  font-size: var(--font-small);
  font-weight: bold;
  color: #f87060;
  padding: 0 8px;
}

.right .product-container .img-container {
  width: 100%;
  position: relative;
  padding-top: 75%;
}

.right .product-container img {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  /* To preserve the aspect ratio */
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.right .product-container .title {
  font-size: var(--font-base);
  color: #22181c, 80%;
  margin-top: 16px;
  font-weight: bold;
}

.right .product-container .description {
  font-size: var(--font-small);
  color: #575757;
  margin-top: 4px;
}

.right .product-container .bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.right .product-container .price {
  font-size: var(--font-300);
  font-weight: bold;
  color: #151515;
}

.right .product-container .was {
  font-size: 13px;
  color: #a9a9a9;
  text-decoration: line-through;
}

/* .right .product-container button {
  width: 30%;
  font-size: 16px;
  padding: 10px;
  margin-left: 16px;
} */

/* For dropdown */
.right .sort-container {
  margin-left: auto;
  justify-self: flex-end;
  cursor: pointer;
}

.right .sort-container .text-container {
  background-color: rgba(34, 24, 28, 0.2);
  padding: 8px 12px;
  border-radius: 41px;
}

.right .dropdown p,
.right .dropdown a,
.right .dropdown span,
.right .dropdown-trigger {
  font-size: var(--font-small);
  font-weight: bold;
}

.right .dropdown .dropdown-trigger,
.right .dropdown span {
  color: rgba(34, 24, 28, 0.8);
}

.right .dropdown-trigger {
  align-items: center;
}

.right .dropdown span {
  margin: 0 8px;
}

.right .dropdown i {
  margin-left: 12px;
}

.right .dropdown .sort-by {
  color: rgba(34, 24, 28, 0.5);
}

.right .dropdown {
  position: relative;
  display: inline-block;
}

.right .dropdown-content {
  display: none;
  position: absolute;
  left: 20%;
  background-color: rgba(34, 24, 28);
  width: max-content;
  z-index: 2; /* to display in front of other elements */
}

.right .dropdown-content p {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.right .dropdown-content p:hover {
  background-color: rgb(228, 27, 27);
}

.right .dropdown:hover .dropdown-content {
  display: block;
}

.right .dropdown:hover .dropdown-trigger i {
  color: red;
}
/* End of dropdown */

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 2rem;
  }

  .left .button-container,
  .left .input-container {
    flex-direction: column;
    gap: 1rem;
  }
  .left .button-container button {
    width: 100%;
  }
  .left .apply-button {
    margin-top: 2rem;
  }
  .right .result-text-container {
    flex-direction: column;
    font-size: var(--font-300);
    margin-bottom: 2rem;
    gap: 1.1rem;
  }
  .right .sort-container {
    margin-left: 0;
  }
  .right .grid-container .row-container {
    flex-direction: column;
    /* justify-content: space-between; */
    margin-bottom: 40px;
    gap: 2rem;
  }
  .right .product-container {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    margin: 0 1rem;
    flex-direction: column;
  }
  .left h2 {
    margin-bottom: 1rem;
  }
  .brand-choice-container,
  .options {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */

    width: 100%;
  }
  .right,
  .left,
  .brand-choice-container {
    width: 100%;
  }
  .brand-choice-container .choice,
  .options .choice {
    width: 50%;
  }
  .left .choice label {
    font-size: var(--font-small);
    margin-right: 0;
  }
  .left .choice i {
    margin-right: 2px;
    font-size: 10px;
  }
  .left .second-op,
  .third-op,
  .fourth-op {
    margin-top: 0;
  }
  #slider-range {
    margin-top: 1.2rem;
  }

  .left .apply-button {
    width: 100%;
  }
}
