/* --------------------------------------- Global ---------------------------------------- */
header, footer {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    font-size: 30px;
}

.container {
    margin: 0 72px;
    display: flex;
}

.left {
    width: 30%;
    border: 5px solid red;
    margin-right: 79px;
}

.right {
    width: 70%;
    border: 5px solid purple;
}

/* --------------------------------------- Left ---------------------------------------- */

/* Bread crumb */
.left .bread-crumb {
    display: flex;
    font-size: var(--font-base);
    margin-bottom: 24px;
}

.left .bread-crumb span {
    margin: 0 11px;
}

.left h2 {
    padding-left: 8px;
    border-left: 5px solid #F87060;
    margin-bottom: 24px;
}

.left .choice i {
    margin-right: 10px;
    cursor: pointer;
}

.left .choice label {
    margin-right: 22px;
}

.left .choice i, label {
    color: rgba(34, 24, 28, 0.5);
}

.left .second-op, .third-op, .fourth-op {
    margin-top: 17px;
}

.left .price-range, .type {
    margin-top: 56px;
}

.left .price-range .slider-container input{
    margin-top: 21px;
    width: 100%;
}

.left .input-container {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.left .input-container p {
    color: black;
    font-size: var(--font-700);
    margin-bottom: 8px;
}

.left .input-container input {
    border-radius: 8px;
    border: 1px solid rgba(34, 24, 28, 0.2);
    height: 43px;
    text-indent: 20px;
}

.left .button-container {
    display: flex;
    align-items: baseline;
    margin-top: 16px;
}

.left .button-container button {
    width: 60%;
    font-size: var(--font-small);
    font-weight: bold;
}

.left .button-container p {
    margin-left: 16px;
    font-size: var(--font-small);
    font-weight: bold;
    color: rgba(34, 24, 28, 0.5);
    cursor: pointer;
}

.left .button-container p:hover {
    color: #C80808;
}

.left .type .second-choice {
    margin: 17px 0;
}

.left .apply-button {
    margin-top: 56px;
}

/* --------------------------------------- Right ---------------------------------------- */
.right .result-text-container {
    font-size: var(--font-500);
    font-weight: bold;
    color: black;
    margin-bottom: 56px;
    margin-top: 80px;
}

.right .result-text-container span {
    color: #C80808;;
}

.right .grid-container .row-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.right .product-container {
    width: 30%;
    border-radius: 12px;
    background-color: #FFFAFF;
}

.right .product-container .content-container {
    margin-top: 8px;
    margin-left: 8px;
    margin: 8px;
}

.right .product-container .content-container .discount-noti {
    position: absolute;
    z-index: 1;
    background: rgba(255, 250, 255, 0.8);
    border-radius: 12px;
    margin-top: 12px;
    margin-left: 12px;
}

.right .product-container .content-container .discount-noti p {
    font-size: var(--font-small);
    font-weight: bold;
    color: #F87060;
    padding: 0 8px;
}

.right .product-container .img-container {
    width: 100%;
    position: relative;
    padding-top: 75%;
}

.right .product-container img {
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    /* To preserve the aspect ratio */
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.right .product-container .title {
    font-size: var(--font-base);
    color: #22181C, 80%;
    margin-top: 16px;
}

.right .product-container .description {
    font-size: var(--font-small);
    color: #575757;
    margin-top: 4px;
}

.right .product-container .bottom-container {
    display: flex;
    align-items: center
}

.right .product-container .price {
    font-size: var(--font-300);
    font-weight: bold;
    color: #151515;
}

.right .product-container .was {
    font-size: 13px;
    color: #A9A9A9;
    text-decoration: line-through;
}

.right .product-container button {
    width: 30%;
    font-size: 16px;
    padding: 10px;
    margin-left: 16px;
}