/* ----------------------- Global --------------------- */
body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    padding: 0 72px;

}

.left, .right {
    width: 50%;
}

.left {
    margin-right: 94px;
}

.flex {
    display: flex;
}

.gray {
    color: #A9A9A9;
}

header, footer {
    background-color: orange;
    height: 100px;
    margin-bottom: 30px;
}

footer {
    margin-top: 30px;
}

/* -------------------------- Left ---------------------- */
.left {
    text-align: center;
}

.left img {
    width: 80%; /* để cho nhỏ lại chứ to quá khó nhìn */
    border-radius: 24px;
}

.left .small-pics {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 32px;
}

.left .small-pics img {
    width: 84px;
    border-radius: 8px;
    filter: grayscale(100%);
    opacity: 0.5;
}

.left .small-pic-2, .small-pic-3, .small-pic-4, .small-pic-5 {
    margin-left: 16px;
}

.left .small-pics img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

/* --------------------------- Right --------------------- */
h2 {
    font-size: var(--font-500);
    margin-bottom: 27px;
}

.right .category, .status {
    margin-bottom: 16px;
}

.right .gray {
    margin-right: 24px;
}

.right .choice i {
    margin-right: 10px;
}

.right .choice label {
    margin-right: 22px;
}

.right .choice i, label {
    color: rgba(34, 24, 28, 0.5);
}

.right .choice:hover label{
    color: #F87060;
}

.right .choice:hover i{
    color: #F87060;
}

.right .price{
    color: #C80808;
    font-size: var(--font-500);
    font-weight: bold;
    margin-top: 56px;
}

.right i {
    margin-right: 14px;
}

.right .product-description {
    margin-top: 56px;
}

.right button {
    margin-top: 48px;
}

.right .turn-back-container {
    margin-top: 16px;
}

.right .turn-back {
    font-size: 16px;
    color: #F87060;
}

.right .turn-back i {
    margin-right: 10px;
}

.right .turn-back:hover span {
    text-decoration: underline;
}