.Header {
    text-align: center;
    padding: 14px 16px;
    background-color: burlywood;
}

.Content {
    margin-left: 391px;
    margin-right:390px;
    padding: 8px 0px;
}

input {
    width: 100%;
    padding: 19px 32.5px;
    display: inline-block;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    background: #f1f1f1;
    margin-bottom: 2rem;
}

input:focus {
    background-color: #ddd;
    outline: none;
}

.message {
    width: 100%;
    padding: 0px 19px;
    padding-top: 32.5px;
    padding-bottom: 296px;
    display: inline-block;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    background: #f1f1f1;
}

.message:focus {
    background-color: #ddd;
    outline: none;
}

label{
    font-size: var(--font-300);
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.message {
    margin-bottom: 56px;
}

.sendMessage {
    width: 100%;
    padding: 8px 0px;
    font-size: var(--font-300);
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    background-color: #C80808;
    color: white;
    padding: 20px 32px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 272px;
    height: 78px;
    opacity: 0.9;
  }

.sendMessage:hover {
    opacity:1;
}

/* Laptop screen */
@media screen and (min-width: 1440px) {
    .Content {
        margin-left: 391px;
        margin-right: 390px;
    }
}

/* Ipad Pro screen  */
@media screen and (max-width: 1024px) {
    .Content {
        margin-left: 272.896px;
        margin-right: 272.896px;
    }

    .contactForm label {
        font-size: var(--font-300)
    }

    .sendMessage {
        width: 75,3%;
        font-size: var(--font-300);
    }
}

/* Ipad screen */
@media screen and (max-width: 768px){
    .Content {
        margin-left: 204.672px;
        margin-right: 204.672px;
    }

    .contactForm label {
        font-size: var(--font-300)
    }

    .sendMessage {
        width: 56.47%;
        font-size: var(--font-200);
    }
}

/* Small Tablet screen */
@media screen and (max-width: 600px){
    .Content {
        margin-left: 162.71px;
        margin-right: 162.71px;
    }

    .contactForm label {
        font-size: 16px
    }

    .sendMessage {
        width: 56.47%;
        font-size: 16px;
    }
}





