@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600;700&display=swap');

/* Header top */
header .container {
    width: 98%;
    margin: 0 auto;
    padding: 10px 0;
}

.header-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.left-header-top {
    flex: 1;
    flex-wrap: wrap;
}

.left-header-top a {
    margin: 0 15px;
    color: var(--black-base);
    text-decoration: none;
}

.left-header-top > a:hover, .header-top .icon *:hover {
    color: var(--primary-base);
}

.header-top .email {
    text-decoration: none;
    color: black;
}

.header-top .phone-number, h2 {
    padding: 0;
    margin: 0;
}

.header-top h1 {
    font-family: 'Lato', serif;
    font-weight: 700;
    font-size: 2em;
    color: var(--black-base);
    text-align: center;
}

.header-top .icon {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.header-top .icon * {
    margin: 0 10%;
}

.header-top i {
    color: black;
}

.header-top img {
    width: 120px;
}

/* End of header top */



/* Header mid */
.header-mid {
    background-color: black;
    color: white;
    padding: 20px 0;
}

.header-mid .container {
    display: flex;
    align-items: center;
}

.header-mid .drop-button {
    border: none;
    background-color: black;
    color: white;
}

.header-mid .dropdown {
    position: relative;
    display: inline-block;
}

.header-mid .dropdown-content {
    display: none;
    position: absolute;
    background-color: #262525;
    min-width: 100px;
    z-index: 1; /* to display in front of other elements */
}

.header-mid .dropdown-content a {
    display: block; 
    text-decoration: none;
    color: white;
    padding: 10px;
}

.header-mid .dropdown-content a:hover {
    background-color: rgb(228, 27, 27);
}

.header-mid .dropdown:hover .dropdown-content{
    display: block;
}

.header-mid .dropdown:hover .drop-button i{
    color: red;
}

.header-mid input {
    width: 80%;
    padding: 10px 0;
    margin-left: 30px;
    border-radius: 100px;
    text-indent: 20px;
}

.header-mid input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgb(255, 40, 40);
    transition: 200ms ease-in-out;
}

.header-mid .contact-us {
    text-decoration: none;
    color: red;
    margin-left: auto;
    order: 2;
}


/* MEDIA QUERIES */
/* FOR MOBILE'S L SCREENSIZE */

@media screen and (max-width: 425px) {
    .left-header-top {
        font-size: 0.7em;
        line-height: 20px;
        /* color: red; */
    }


    .header-top h1, .icon {
        /* font-size: 1.5em; */
        transform: scale(0.8);
    }

    /* .header-top .icon > * {
        margin: 0 10px;
    } */
}