@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600;700&display=swap');

/* Header top */
header .header-top-container {
    width: 97%;
    margin: 0 auto;

}

.header-top {
    display: flex;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;

}


.left-header-top {
    flex: 1;
    flex-wrap: wrap;
}

.left-header-top a {
    margin: 0 15px;
    color: var(--black-base);
    text-decoration: none;
}

.left-header-top > a:hover, .header-top .icon *:hover {
    color: var(--primary-base);
}

.header-top .email {
    text-decoration: none;
    color: black;
}

.header-top .phone-number, h2 {
    padding: 0;
    margin: 0;
}

.header-top h1 {
    font-family: 'Lato', serif;
    font-weight: 700;
    font-size: 2em;
    color: var(--black-base);
    text-align: center;
}

.header-top .icon {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.header-top .icon a {
    margin: 0 5%;
    font-size: 1em;
}

.header-top i {
    color: black;
}

.header-top img {
    width: 100px;
}

/* End of header top */



/* Header mid */
.header-mid {
    background-color: black;
    color: white;
    padding: 20px 3%;
    /* width: 97%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* border: 10px solid red; */
    
}

.header-mid .drop-button {
    border: none;
    background-color: black;
    color: white;
    font-family: 'Lato', serif;
    font-weight: 400;
    font-size: 1em;
}

.header-mid .dropdown {
    position: relative;
    display: inline-block;
}

.header-mid .dropdown-content {
    display: none;
    position: absolute;
    background-color: #262525;
    min-width: 100px;
    z-index: 2; /* to display in front of other elements */
}

.header-mid .dropdown-content a {
    display: block; 
    text-decoration: none;
    color: white;
    padding: 10px;
}

.header-mid .dropdown-content a:hover {
    background-color: rgb(228, 27, 27);
}

.header-mid .dropdown:hover .dropdown-content{
    display: block;
}

.header-mid .dropdown:hover .drop-button i{
    color: red;
}



/* Search bar */

.header-mid .search-bar {
    position: relative;
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-mid input {
    padding: 10px 0;
    width: 70%;
    border-radius: 2em;
    text-indent: 20px;
    outline: none;
    border: 0;
}

.header-mid .search-bar i {
    position: relative;
    color:#262525;
    right: 40px;
    z-index: 2;
    opacity: 60%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.header-mid .search-bar i:hover, .header-mid .search-bar i:focus {
    opacity: 100%;
}

.header-mid input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgb(245, 126, 126);
    transition: 200ms ease-in-out;
}

.header-mid .contact-us {
    text-decoration: none;
    color: rgb(218, 142, 142);
    /* margin-left: auto; */
    order: 2;
    transition: all ease 0.2s;
}

.header-mid .contact-us:hover {
    color: rgb(228, 48, 48);
}


/* MEDIA QUERIES */
/* FOR MOBILE'S L SCREENSIZE */

@media screen and (max-width: 425px) {
    .left-header-top {
        font-size: 0.7em;
        line-height: 20px;
        /* color: red; */
    }


    .header-top h1, .icon {
        /* font-size: 1.5em; */
        transform: scale(0.8);
    }


    .header-mid .drop-button {
        display: none;
        /* visibility: hidden; */
    }


    .header-mid .drop-button::after {
        content: "a";
        visibility: visible;
    }


    .header-mid .contact-us {
        display: none;
    }


}