<link rel="stylesheet" href="./components/Index/NewProducts/new-products.css">

<div class="new-products-container">
    <h2 class="section-title dark">New Products</h2>
    <div class="new-product-section">
        <div class="new-product-card">
            <h1>Logitech G915</h1>
            <button class="primary-cta--medium">Add to cart</button>
        </div>
        <div class="new-product-card">
            <h1>Razer Mamba Elite</h1>
            <button class="primary-cta--medium">Add to cart</button>
        </div>
    </div>
</div>